---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Experience from '../components/Experience.astro'
import Skills from '../components/Skills.astro'
import ContactCTA from '../components/ContactCTA.astro'
import Footer from '../components/Footer.astro'
import MouseSpotlight from '../components/MouseSpotlight.astro'
import ThemeToggle from '../components/ThemeToggle.astro'
import '../styles/global.css'
---

<Layout>
  <MouseSpotlight />
  <ThemeToggle />
  <div class="min-h-screen px-6 md:px-12 lg:px-24">
    <div class="mx-auto max-w-screen-2xl lg:flex lg:justify-between lg:gap-16">
      <Hero />
      <main class="lg:w-3/5 lg:py-24 pb-24">
        <About />
        <Experience />
        <Skills />
        <ContactCTA />
        <Footer />
      </main>
    </div>
  </div>
</Layout>
